
* {
	box-sizing: border-box;
}

.navbar-brand {
	height: auto;
}

#header-nav{
	background-color: grey;
}

#header-nav > .container{
	width:100%;
}

#brand-text:hover { 
	text-decoration: none;
}

#brand-text{
	color: black;
}

	.navbar-toggle{
	background-color: #aaaaaa;
}